body {
    border-top: solid 4px #006cb0;
}

#search {
    background: #008be3;
    box-shadow: 0px 0px 50px 0px rgba(0,0,0,0.5);
}

#search form {
    margin: 0;
    padding: 1em 0;
    position: relative;
}

#search input {
    margin: 0;
}

.autocomplete-suggestions {
    background: #fff;
    position: absolute;
    border: solid 1px #aaa;
    box-sizing: border-box;
}

.autocomplete-suggestion {
    padding: 7px 2px;
    margin: 0px 3px;
    border-bottom: solid 1px #ddd;
}

.autocomplete-suggestion:last-child {
    border: none;
}

.autocomplete-suggestion.selected {
    color: #006cb0;
}

article {
    margin: 3em 0;
}

article h3 {
    color: #006cb0;
    border-top: solid 1px #aaa;
    font-size: 1em;
    font-weight: bold;
    text-align: center;
    margin: 2em 5%;
}

article h3 span {
    background: #fff;
    display: inline-block;
    position: relative;
    top: -0.6em;
    padding: 0 1em;
    max-width: 65%;
}

article .legal {
    color: #666;
    display: block;
    margin: 5em 0;
}

footer {
    background-color: #006cb0;
    color: #fff;
    padding: 3em 0;
    box-shadow: 0px 0px 50px 0px rgba(0,0,0,0.5);
}

footer a {
    color: #fff !important;
}